/*
-------------------
rb-counter-sec-wrp
-------------------
*/
.rb-content-sec-wrp{
	padding-top: 10px;
}
.rb-in-stock-sec{
	padding-top: 10px;
}
.has-btm-bdr{
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.rb-counter-sec-wrp{
	padding-top: 30px;
}
.rb-counter-wrp{
	background: #000;
	padding: 18px 30px 20px;
}
.rb-counter-lft-dsc {
    width: 60%;
    float: left;
    padding-right: 100px;
}
.rb-counter-rgt{
	width: 40%;
	float: right;
}
.rb-counter-lft-dsc h4{
	margin: 0;
	color: #fff;
	margin-bottom: 20px;
	margin-top: 15px;
}
.rb-counter-lft-dsc h4 strong{
	display: inline-block;
	vertical-align: baseline;
	color: #eed200;
	font-weight: 700;
}
.rb-counter-lft-dsc p{
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}


.rb-in-Stock-wrp{
	padding: 20px 20px;
	border-style: dotted;
	border-color: rgb(169, 23, 23);
	border-width:5px; 
	text-align: center;
}
.rb-in-Stock-wrp span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 24px;
	line-height: 26px;
	color: #2f2f2f;
	text-align: center;
}
.rb-in-Stock-wrp span strong{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
	color: #b11717;
}

.rb-sidebar-dsc-lft{
	width: 60%;
	float: left;
}
.rb-sidebar-rgt{
	width: 40%;
	float: left;
}
.rb-order-now-img-wrp{
	border-bottom: 1px solid #333;
	padding-bottom: 30px;
}
.rb-order-now-img-tp{
	text-align: center;
	max-width: 330px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.rb-order-now-img-btm{
	border: 3px solid rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.rb-time-dv-dsc{
	padding-top: 30px;
}
.rb-time-dv-dsc h5{
	margin: 0;
	font-size: 24px;
	line-height: 26px;
	color: #000;
	margin-bottom: 15px;
	font-weight: 700;
}
.rb-time-dv-dsc ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
.rb-time-dv-dsc ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 30px;
	padding-bottom: 15px;
	font-size: 16px;
	line-height: 20px;
	position: relative;
}
.rb-time-dv-dsc ul li strong{
	font-weight: 700;
	display: inline-block;
	vertical-align: baseline;
}
.rb-time-dv-dsc ul li i{
	position: absolute;
	left: 0;
	top: 2px;
	color: rgb(248, 154, 29);
}
.rb-time-dv-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	line-height: 22px;
	color: #b11717;
	font-weight: 700;
}
.rb-time-dv-dsc blockquote{
	padding: 20px 10px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	text-align: center;
	font-style: italic;
	margin: 0;
	border-top: 1px solid#ddd;
	border-bottom: 1px solid#ddd;
}
.rb-contact-dsc{
	padding-top: 30px;
	text-align: center;
}
.rb-contact-dsc span{
	display: block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
}
.rb-contact-dsc a,
.rb-contact-dsc span a{
	font-size: 16px;
	line-height: 18px;
	color: inherit;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.rb-sidebar-wrp{
	background: #f2f2f2;
	-webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    padding: 20px 20px;
}
.start-here{
	padding-bottom: 20px;
	border-bottom: 1px solid#ddd;
}
.order-form{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
.order-form span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 21px;
	line-height: 23px;
	font-weight: 700;
}
.order-form span i{
	padding-right: 5px;
}


