
/* 
----------------- 
Start sitemap
-----------------
*/   
.sitemap{
  max-width: 800px;
  margin: 0 auto;
  padding:100px 0;
}
.sitemap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitemap ul ul {
  margin-left: 30px;
  padding-top: 12px;
}
.sitemap ul li {
  padding: 5px 0;
  margin-bottom: 0;
}
.sitemap ul li a {
  display: inline-block;
  vertical-align: baseline;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 12px;
  position: relative;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.sitemap ul li a:hover{
  color: #0055FF;
}
.sitemap ul li a:focus{
  text-decoration: underline;
}
.sitemap h2 {
  margin: 0;
  padding-bottom: 40px;
  text-transform: uppercase;
  color: #0055FF;
}
