.rb-ty2-team-cnct{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 25px;
}
.rb-ty2-team-cnct span{
	font-size: 24px;
	line-height: 29px;
}
.rb-ty2-img{
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}
.rb-ty2-bottom-contact{
	text-align: center;
	padding-top: 30px;
}
.rb-ty2-bottom-contact span  strong{
	font-weight: 700;
	text-decoration: underline;
}
.rb-ty2-sec-ctlr .rb-ty-title{
	margin-top: 0px;
}
.rb-ty2-sec-ctlr .rb-ty-contact{
	padding-top: 25px;
}





@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.rb-ty2-team-cnct {
	    padding-top: 25px;
	    padding-bottom: 20px;
	}
	.rb-ty2-bottom-contact {
	    padding-top: 25px;
	}
	.rb-ty2-sec-ctlr .rb-ty-contact {
	    padding-top: 20px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.rb-ty2-team-cnct {
	    padding-top: 20px;
	    padding-bottom: 15px;
	}
	.rb-ty2-bottom-contact {
	    padding-top: 20px;
	}
	.rb-ty2-sec-ctlr .rb-ty-contact {
	    padding-top: 18px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
}

@media(max-width: 479px){
	.rb-ty2-team-cnct span {
	    font-size: 20px;
	    line-height: 26px;
	}

}

@media(max-width: 359px){
	.rb-ty2-team-cnct span {
	    font-size: 16px;
	    line-height: 22px;
	}
}