.rb-counter-sec-wrp{
	color: #fff;
}
.rb-counter-sec-wrp-upsell .rb-counter-lft-dsc > strong{
	font-size: 18px;
}

.upsell-1-order-sec-inr{
	padding: 25px 0 40px;
	text-align: center;
	color: rgb(169, 23, 23);
}
.upsell-1-order-sec-inr h2{
	font-weight: 700;
}
.upsell-1-order-sec-inr em{
	font-size: 23px;
	font-style: italic;
}

.block-shadow{
	background-color: rgb(255, 255, 255);
	background-position-y: -3px;
	-webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.block-shadow .rb-content-block-wrp{
	box-shadow: none;
}
.rb-content-block-wrp{
	padding-left: 0;
	padding-right: 0;
}