.rb-counter-sec-wrp{
	color: #fff;
}
.rb-counter-sec-wrp-upsell .rb-counter-lft-dsc > strong{
	font-size: 18px;
}
.sell1header .rb-counter-wrp{
	padding: 20px 30px 20px;
}
.sell1header .rb-counter-lft-dsc{
	padding-top: 8px;
}
.upsell-1-order-sec-inr{
	padding: 25px 0 0;
	text-align: center;
	color: rgb(169, 23, 23);
}
.upsell-1-order-sec-inr h2{
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
}
.upsell-1-order-sec-inr em{
	font-size: 23px;
	font-style: italic;
}

.block-shadow{
	background-color: rgb(255, 255, 255);
	background-position-y: -3px;
	-webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.plr-10{
	padding-left: 10px;
	padding-right: 10px;
}
.plr-40{
	padding-left: 40px;
	padding-right: 40px;
}
.up-1-only-change-sec-inr{
	padding-top: 15px;
	padding-bottom: 20px;

}
.font-inherit{
	font-family: inherit;
}
.font-inherit h1,
.font-inherit h2,
.font-inherit h3,
.font-inherit h4,
.font-inherit h5,
.font-inherit h6{
	font-family: inherit;
}

.up-1-only-change-sec-hdr h3 + h3{
	font-weight: 700;
}
.up-1-only-change-sec-con-sologan{
	font-size: 23px;
	line-height: 28px;
	text-align: center;
	padding-bottom: 25px;
}
.up-1-only-change-sec-con-sologan strong{
	font-weight: 700;
}
.up-1-before-after-img{
	padding-bottom: 20px;
}

.up-1-gray-bg-sec-inr{
	padding-left: 40px;
	padding-right: 40px;
}
.up-1-gray-bg-sec-inr{
	padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(241, 244, 248);
}

.transparent-bdr-box{
	width: 300px;
	height: 300px;
	border: 3px solid rgba(0,0,0,0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
.transparent-bdr-box.transparent-bdr-box-2{
	width: auto;
	height: auto;
}
.img-align-center{
	margin-left: auto;
	margin-right: auto;
}
.up-1-gray-bg-sec-des{
	font-size: 22px;
}
.up-1-gray-bg-sec-inr .row{
	display: flex;
	align-items: center;
}
.up-1-upgrade-order-sec-inr{
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.up-1-upgrade-order-sec-sologan{
	font-size: 21px;
    color: rgb(0, 0, 0);
}
.up-1-upgrade-order-sec-sologan{
	padding-bottom: 15px;
	padding-top: 5px;
}
.el-submit-btn{
	color: #fff!important;
    background-color: rgb(0, 117, 178);
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 4px;
    min-height: 67px;
    padding: 20px 20px 20px 70px;
    font-family: 'Oswald', sans-serif;
}

.el-submit-btn:after{
	content: "\f061"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #fff;
    font-size: 26px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 33px;
    line-height: 15px;
}

.progress-bar-img{
	padding-top: 20px;
}

.color-orange{
	color: #ff6600;
}
.color-black{
	color: #000;
}
.payment-img{
	padding-top: 15px;
	padding-bottom: 17px;
}

.el-hilight-link a{
	display: inline-block;
	vertical-align: baseline;
	color: #0000EE;
	font-size: 14px;
	line-height: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.el-hilight-link a:hover{
	text-decoration: underline;
}
.shipping-speed-section{
	padding-top: 20px;
	padding-bottom: 25px;
}

.shipping-speed-sec-btm blockquote{
	font-size: 20px;
	font-style: italic;
	margin-top: -6px;
}
.shipping-speed-sec-top h6 + p{
	font-size: 18px;
}

.shipping-speed-sec-top ul{
	margin: 0;
	padding: 0;
	list-style:none;
}
.shipping-speed-sec-top ul li{
	padding-bottom: 25px;
	font-size: 18px;
}
.shipping-speed-sec-top ul li:last-child{
	padding-bottom: 10px;
}
.shipping-speed-sec-top ul li strong{
	color: rgb(228, 59, 44);
	display: block;
	
}
.shipping-speed-sec-top ul li span{

}
.shipping-speed-sec-top h6{
	font-size: 18px;
	color: #000;
	text-align: center;
}

.shipping-speed-sec-top-btm-color{
	color: rgb(228, 59, 44);
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
}
.shipping-speed-sec-btm{
	padding-right: 15px;
}
.shipping-speed-sec-top h5{
	font-size: 22px;
}

.shipping-speed-sec-btm-con{
	padding-top: 20px;
}

.sssbc-tel{
	font-size: 27px;
	position: relative;
	padding-top: 30px;
	margin-top: 5px;
}
.sssbc-tel a{
	color: #2F2F2F;
}
.sssbc-tel:before{
	content: "\f023";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #2F2F2F;
    font-size: 26px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    line-height: 15px;
    top: 0;
}

.sssbc-mail a{
	color: rgb(67, 87, 128);
	font-size: 27px;
	font-weight: 700;
	margin-top: 10px;
	display: inline-block;
	vertical-align: baseline;
}

.sssbc-tel-2 a,
.sssbc-mail-2 a{
	color: inherit;
}

.downsell-1-cntlr .up-1-only-change-sec{
	padding-bottom: 15px;
}

.downsell-1-cntlr .up-1-gray-bg-sec-inr{
	background-color: rgb(242, 242, 242);
}

.downsell-1-cntlr .up-1-gray-bg-sec-des{
	padding-left: 33px;
	font-size: 18px;
}
.downsell-1-cntlr .up-1-gray-bg-sec-des p{
	margin-bottom: 20px;
}
.downsell-1-cntlr .up-1-gray-bg-sec-des p:last-child{
	margin-bottom: 0;
}

.downsell-1-cntlr .up-1-gray-bg-sec-inr .row {

    align-items: initial;
}
.up-1-gray-bg-section{
	margin-bottom: 5px;
}

.downsell-1-cntlr .el-hilight-link a {
    padding-left: 15px;
    padding-right: 15px;
}

.upsell-2-cntlr .up-1-gray-bg-sec-inr{
	background: transparent;
}
.upsell-2-cntlr .up-1-gray-bg-sec-des{
	background-color: rgb(242, 242, 242);
	padding: 15px 20px;
}
.upsell-2-cntlr .up-1-gray-bg-sec-inr .row {
    align-items: initial;
}

.upsell-2-cntlr .up-1-gray-bg-sec-images{
	padding-top: 20px;
}
.color-red{
	color: rgb(196, 0, 0);
}
.up-1-gray-bg-sec-des ul{
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 10px 0 0 30px;
}
.up-1-gray-bg-sec-des ul li{
	position: relative;
	padding: 0 0 20px 30px;
}
.up-1-gray-bg-sec-des ul li:before{
	content: "\f0e7"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #A91717;
    font-size: 22px;
    padding-right: 0;
    position: absolute;
    top: 3px;
    left: 0;
    line-height: 15px;
}

.upsell-2-cntlr .up-1-gray-bg-sec-des{
	font-size: 18px;
}

.upsell-2-cntlr .up-1-gray-bg-sec-inr{
	padding-left: 10px;
	padding-right: 10px;
}
.sidebar-img-des-hdr{
	padding-top: 10px;
}
.sidebar-img-des-hdr h5{
	font-family: 'Oswald', sans-serif;
	color: #000;
	margin-bottom: 0;
	font-size: 24px;
}
.sidebar-img-des-hdr p{
	font-size: 18px;
}

.sidebar-img-des ul{
	margin: 0;
	padding: 5px 0 0 30px;
	list-style: none;
}
.sidebar-img-des ul li{
	position: relative;
	padding: 0 0 10px 25px;
	font-weight: 700;
}
.sidebar-img-des ul li:after{
	content: "\f00c"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #1E1E1E;
    font-size: 16px;
    padding-right: 0;
    position: absolute;
    top: 6px;
    left: 0;
    line-height: 15px;
}
.sidebar-img-des p small{
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
	vertical-align: baseline;
}

.downsell-2-cntlr .up-1-gray-bg-sec-inr .row {
    align-items: initial;
}

.downsell-2-cntlr .up-1-gray-bg-sec-inr {
   background-color: rgb(242, 242, 242);
}

.downsell-2-cntlr .up-1-gray-bg-sec-des{
	padding-left: 40px;
}

.downsell-2-cntlr .up-1-gray-bg-sec-des{
	font-size: 18px;
}
.downsell-2-cntlr .up-1-gray-bg-sec-des p{
	margin-bottom: 20px;
}

.downsell-2-cntlr .el-submit-btn{
	margin-top: 30px;
}
.upsell-1-cntlr .up-1-gray-bg-sec-inr{
	padding-bottom: 10px;
}
.upsell-1-cntlr .up-1-upgrade-order-sec-sologan{
	padding-bottom: 10px;
}

.upsell-1-cntlr .shipping-speed-sec-top > p,
.downsell-1-cntlr .shipping-speed-sec-top > p{
	font-size: 18px;
	margin-bottom: 20px;
}

.downsell-1-cntlr .up-1-upgrade-order-sec-sologan{
	padding-top: 10px;
}

.downsell-1-cntlr .sssbc-tel,
.downsell-2-cntlr .sssbc-tel{
	margin-top: 5px;
}

.downsell-1-cntlr .shipping-speed-sec-top{
	padding-left: 10px;
}
.upsell-2-cntlr .up-1-gray-bg-sec-des ul{
	padding-left: 40px;
}
.upsell-2-cntlr .up-1-gray-bg-sec-des ul li{
	font-size: 22px;
}

.upsell-2-cntlr .up-1-gray-bg-sec-des p{
	margin-bottom: 20px;
}

.upsell-2-cntlr .up-1-upgrade-order-sec-sologan h6{
	font-size: 24px;
	margin-bottom: 15px;
}

.upsell-2-cntlr .up-1-upgrade-order-sec-sologan p:last-of-type{
	font-size: 20px;
}
.upsell-2-cntlr .up-1-upgrade-order-sec-sologan{
	padding-bottom: 0;
}

.upsell-2-cntlr .payment-img img,
.downsell-2-cntlr .payment-img img,
.downsell-1-cntlr .payment-img img{
	max-width: 300px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
.upsell-2-sec-divider{
	margin-bottom: 40px;
}

.upsell-2-cntlr .shipping-speed-sec-btm,
.downsell-2-cntlr .shipping-speed-sec-btm{
	margin-top: -5px;
}
.upsell-2-cntlr .sssbc-tel{
	margin-top: 5px;
}

.upsell-2-cntlr  .shipping-speed-sec-top h6{
	font-size: 20px;
}
.upsell-2-cntlr  .shipping-speed-sec-top{
	padding-left: 10px;
}
.upsell-2-cntlr .shipping-speed-sec-top > p,
.downsell-2-cntlr .shipping-speed-sec-top > p{
	font-size: 18px;
	margin-bottom: 20px;
}

.downsell-2-cntlr .shipping-speed-sec-top-btm-color{
	padding-top: 50px;
}
.downsell-2-cntlr .shipping-speed-sec-top ul li:last-child{
	padding-bottom: 20px;
}

a.el-submit-btn:hover {
    background-color: #005a89 !important;
}
.hasbg1{
    text-align: center;
    font-size: 18px;
    background-color: rgba(255, 156, 0, 0.01);
    color: rgb(45, 45, 45);	
}
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.block-shadow{
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.rb-counter-sec-wrp .container{
		max-width: 1240px;
	}
	.rb-counter-wrp{
		margin-left: -15px;
		margin-right: -15px;
	}
	.plr-40{
		padding-left: 0;
		padding-right: 0;
	}
	.up-1-only-change-sec-con-sologan br,
	.upsell-1-order-sec-inr h2 br{
		display: none;
	}
	.up-1-gray-bg-sec-inr .row{
		align-items: initial;
	}
	.upsell-1-cntlr .up-1-gray-bg-sec-inr .col-md-12{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.up-1-gray-bg-sec-inr{
		padding-left: 20px;
		padding-right: 20px;
	}

}

@media(max-width: 991px){
	.shipping-speed-sec-top {
		padding-top: 35px;
	}
	.shipping-speed-sec-btm blockquote br,
	.up-1-only-change-sec-hdr h5 br{
		display: none;
	}
	.transparent-bdr-box.transparent-bdr-box-2{
		display: inline-block;
		clear: both;
		margin-left: auto;
		margin-right: auto;
	}
	.up-1-gray-bg-sec-images{
		text-align: center;
	}
	.sidebar-img-des{
		text-align: left;
	}
	.upsell-2-cntlr .up-1-gray-bg-sec-images {
	    padding-top: 0;
	}
	.upsell-2-cntlr .up-1-gray-bg-sec-inr {
	    padding-left: 0;
	    padding-right: 0;
	}
	.shipping-speed-sec-btm {
	    padding-right: 0;
	}
	.upsell-2-cntlr .shipping-speed-sec-top {
	    padding-left: 0;
	}
}

@media(max-width: 767px){
	.upsell-1-order-sec-inr em{
		font-size: 21px;
	}
	h3 {
	    font-size: 34px;
	}
	.up-1-only-change-sec-con-sologan{
		font-size: 20px;
	}
	.up-1-gray-bg-sec-des {
	    font-size: 20px;
	}
	.up-1-upgrade-order-sec-sologan p br{
		display: none;
	}
	.downsell-1-cntlr .up-1-gray-bg-sec-des,
	.downsell-2-cntlr .up-1-gray-bg-sec-des{
		padding-left: 0;
	}

	
}

@media(max-width: 575px){
	.sssbc-mail a,
	.sssbc-tel{
		font-size: 22px;
	}
	.upsell-2-cntlr .up-1-gray-bg-sec-des ul {
	    padding-left: 0;
	}

}

@media(max-width: 479px){
	.transparent-bdr-box{
		max-width: 300px;
		width: 100%;
	}

}

@media(max-width: 359px){

}