/* 

.modalBackdropWrapper {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.countdown-popup-main{
  padding: 40px 40px;
  margin-top: 100px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  top: 0px;
  z-index: 100;
  min-height: 550px
}

.countdown-popup-main h1{
  font-weight: 700;
  color: rgb(228, 59, 44);
  text-transform: uppercase;
  line-height: 1.3em;
  margin-bottom: 15px;
}
.countdown-popup-main h3{
  color: rgb(32, 22, 82);
  line-height: 1.3em;
  margin-bottom: 15px;
}
.countdown-popup-main h5{
  color: rgb(228, 59, 44);
  line-height: 1.3em;
  margin-bottom: 15px;

}
.countdown-popup-main a{
  display: inline-block;
  vertical-align: baseline;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(1, 116, 199);
  font-size: 34px;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 3px;
}


.countdown-popup-wrapper .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block!important;
}


 */










































